<a href="https://colab.research.google.com/github/liwenjing2012/Cousera_Capstone/blob/main/Capstone_final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cousera Capstone Project : Neighborhoods Battle
Where is better to live in Austin

In [3]:
#install modules needed
!pip install rtree
!pip install geopandas

Collecting rtree
  Downloading https://files.pythonhosted.org/packages/51/05/5a67111cee91d2165a2bcb855f442186e3d76ddef834596cc84d4875c401/Rtree-0.9.7-cp37-cp37m-manylinux2010_x86_64.whl (994kB)
     |████████████████████████████████| 1.0MB 4.3MB/s
Installing collected packages: rtree
Successfully installed rtree-0.9.7
Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 4.2MB/s
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/9c/fc/9807326c37a6bfb2393ae3e1cca147aa74844562c4d5daa782d6e97ad2bc/Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4MB)
     |████████████████████████████████| 15.4MB 245kB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/11/1d/1c54c672c2faf08d28fe78e15d664c048f786225bef95ad87b6c435cf69e/pyproj-3.1.0-cp37-cp37m-manylinux2010_x86_64.whl (6.6MB)
     |████████████████████████████████| 6.6MB 34.7MB/s
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/73/86/43fa9f15c5b9fb6e82620428827cd3c284aa933431405d1bcf5231ae3d3e/cligj-0.7.2-py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.0.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2020.12.5)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Installing collected packages: cligj, munch, click-plugins, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.1.0

In [4]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
from shapely.geometry import Point
import geopandas as gpd
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation
from bs4 import BeautifulSoup
# import k-means from clustering stage
from sklearn.cluster import KMeans

from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize


import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Folium installed
Libraries imported.

In [ ]:
CLIENT_ID = "KU0CC2XGBFTS40SCQZYT5C1W4JMNIRA1D5H3SVZCITNDO3XF"
CLIENT_SECRET="HCOL1SIL4HGTJKTXPG34GVCF0YIPNY4PIOTVLDTERRFQRZYD"
VERSION = '20180604'
ACCESS_TOKEN = '0GFYVQWD4RZ2YPEWEFDYCKM0FN5ADDL1KVYPC1PWASSNHZBH'

latitude = 40.715337
longitude = -74.008848
radius = 500
LIMIT = 100
search_query = 'housing'
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,ACCESS_TOKEN, VERSION, search_query, radius, LIMIT)
url
# send GET request and get trending venues
results = requests.get(url).json()
results

In [ ]:
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  after removing the cwd from sys.path.

                         id  ...                          location.formattedAddress
0  4bbfd504461576b057547932  ...  [111 Centre St (btwn Leonard & White), New Yor...
1  4e8c9ecc4901755a2e292434  ...                              [Manhattan, NY 10007]
2  51aa9f36498e6e87c2f3c43e  ...                                     [New York, NY]
3  509819dbe4b0e52fa55ebd47  ...                [90 Church Street, New York, NY NY]
4  4e4abe4afa76a0c058d425ca  ...                                     [New York, NY]

[5 rows x 17 columns]

In [ ]:
address = 'New York City, NY'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of New York City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of New York City are 40.7127281, -74.0060152.

In [ ]:
# keep only columns that include venue name, and anything that is associated with location
filtered_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')] + ['id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean column names by keeping only last term
dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]

dataframe_filtered

                              name  ...                        id
0           Pisillo Italian Panini  ...  528bf16711d2b7722da6b51c
1  Conca Cucina Italian Restaurant  ...  4f3232e219836c91c7bfde94
2      Caruso's Italian Restaurant  ...  4e4c4d28bd413c4cc66857a5
3             Pisillo Italian Cafe  ...  6065ecdcc85e724bffef8c08
4        Harry's Italian Pizza Bar  ...  4fa862b3e4b0ebff2f749f06
5              Gloria's Restaurant  ...  4c5de89e6ebe2d7f7955d42e

[6 rows x 15 columns]

Import criminal report data from github

In [5]:
url = "https://raw.githubusercontent.com/liwenjing2012/Cousera_Capstone/main/Crime_Reports.csv"
criminal_data = pd.read_csv(url)
criminal_data.head()

   Incident Number  ...                     Location
0      20201530258  ...  (30.36103465, -97.68530777)
1      20201530887  ...  (30.19036406, -97.82016354)
2      20201530201  ...  (30.28768858, -97.70620522)
3      20205021293  ...  (30.22708779, -97.76645599)
4      20205021334  ...  (30.30063372, -97.74591661)

[5 rows x 27 columns]

In [28]:
criminal_features = ['Incident Number','Highest Offense Description', 'Category Description','Occurred Date', 'Location Type', 'Zip Code', 'Latitude', 'Longitude']
criminal_feature_data = criminal_data[criminal_features]
criminal_feature_data = criminal_feature_data[-criminal_feature_data['Category Description'].isna()].reset_index(drop=True)
criminal_feature_data.groupby(['Category Description']).count()

                      Incident Number  ...  Longitude
Category Description                   ...
Aggravated Assault               2789  ...       2738
Auto Theft                       4019  ...       3998
Burglary                         4824  ...       4800
Murder                             57  ...         57
Rape                              557  ...          0
Robbery                          1064  ...       1057
Theft                           26712  ...      26624

[7 rows x 7 columns]

In [36]:
criminal_feature_data.shape

(40022, 9)

Import neighborhood data from github and merge the two datasets

In [33]:
url = 'https://raw.githubusercontent.com/liwenjing2012/Cousera_Capstone/main/Neighborhoods.geojson'
geoNeigh = gpd.read_file(url)
geoNeigh_data = geoNeigh[['neighname','geometry']]
geoNeigh_data

In [37]:
criminal_gdf = gpd.GeoDataFrame(
    criminal_feature_data, geometry=gpd.points_from_xy(criminal_feature_data.Longitude, criminal_feature_data.Latitude))

In [40]:
criminal_gdf.set_crs(epsg=4326, inplace=True)
joined_gdf = gpd.sjoin(criminal_gdf, geoNeigh_data, op='within').reset_index(drop=True).drop(['index_right'],axis=1)

In [47]:
joined_gdf.head()

   Incident Number  ...      neighname
0      20201530258  ...  WINDSOR HILLS
1      20201530395  ...  WINDSOR HILLS
2      20201550308  ...  WINDSOR HILLS
3      20201550210  ...  WINDSOR HILLS
4      20201570291  ...  WINDSOR HILLS

[5 rows x 10 columns]

In [58]:
df1 = joined_gdf.groupby(['neighname'])['Incident Number'].count().reset_index(name="count")

In [59]:
kclusters = 3

df_clustering = df1.drop(['neighname'],1)
kmeans = KMeans(n_clusters = kclusters, random_state=0).fit(df_clustering)
kmeans.labels_
df1.insert(0,'clusters',kmeans.labels_)
df1

     clusters              neighname  count
0           0              ALLANDALE    357
1           1          ANDERSON MILL    507
2           1  AVERY RANCH--LAKELINE    675
3           0      BARTON CREEK MALL    257
4           0           BARTON HILLS    352
..        ...                    ...    ...
97          0          WINDSOR HILLS    369
98          2           WINDSOR PARK   1062
99          0           WINDSOR ROAD     93
100         0                 WOOTEN    299
101         1                 ZILKER    544

[102 rows x 3 columns]

In [61]:
!pip install googlemaps
import googlemaps

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/32/d0/3e02a031197a6e9499833dd15edd92675097438569b24a1ca8f9904a1c69/googlemaps-4.4.5.tar.gz
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from googlemaps) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.4.5-cp37-none-any.whl size=37995 sha256=4bcf84648fc56321f8cf05511d22ea00ef92100775eb31eecbdb7438388b7734
  Stored in directory: /root/.cache/pip/wheels/fb/24/33/51b0faba1170f6519eae3c51b6adbd9939296c73f54230b069
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.4.5