<a href="https://colab.research.google.com/github/liwenjing2012/Cousera_Capstone/blob/main/Capstone_final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cousera Capstone Project : Neighborhoods Battle
Where is

In [ ]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation
from bs4 import BeautifulSoup

from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize


import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Folium installed
Libraries imported.

In [ ]:
import urllib.request

In [ ]:
!wget -q -O 'newyork_data.json' https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs/newyork_data.json
print('Data downloaded!')

Data downloaded!

In [ ]:
CLIENT_ID = "KU0CC2XGBFTS40SCQZYT5C1W4JMNIRA1D5H3SVZCITNDO3XF"
CLIENT_SECRET="HCOL1SIL4HGTJKTXPG34GVCF0YIPNY4PIOTVLDTERRFQRZYD"
VERSION = '20180604'
ACCESS_TOKEN = '0GFYVQWD4RZ2YPEWEFDYCKM0FN5ADDL1KVYPC1PWASSNHZBH'

latitude = 40.715337
longitude = -74.008848
radius = 500
LIMIT = 100
search_query = 'housing'
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&oauth_token={}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude,ACCESS_TOKEN, VERSION, search_query, radius, LIMIT)
url
# send GET request and get trending venues
results = requests.get(url).json()
results

<Response [200]>

In [ ]:
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  after removing the cwd from sys.path.

                         id  ...                          location.formattedAddress
0  4bbfd504461576b057547932  ...  [111 Centre St (btwn Leonard & White), New Yor...
1  4e8c9ecc4901755a2e292434  ...                              [Manhattan, NY 10007]
2  51aa9f36498e6e87c2f3c43e  ...                                     [New York, NY]
3  509819dbe4b0e52fa55ebd47  ...                [90 Church Street, New York, NY NY]
4  4e4abe4afa76a0c058d425ca  ...                                     [New York, NY]

[5 rows x 17 columns]

In [ ]:
address = 'New York City, NY'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of New York City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of New York City are 40.7127281, -74.0060152.

In [ ]:
# keep only columns that include venue name, and anything that is associated with location
filtered_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')] + ['id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean column names by keeping only last term
dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]

dataframe_filtered

                              name  ...                        id
0           Pisillo Italian Panini  ...  528bf16711d2b7722da6b51c
1  Conca Cucina Italian Restaurant  ...  4f3232e219836c91c7bfde94
2      Caruso's Italian Restaurant  ...  4e4c4d28bd413c4cc66857a5
3             Pisillo Italian Cafe  ...  6065ecdcc85e724bffef8c08
4        Harry's Italian Pizza Bar  ...  4fa862b3e4b0ebff2f749f06
5              Gloria's Restaurant  ...  4c5de89e6ebe2d7f7955d42e

[6 rows x 15 columns]

In [ ]:
url = "https://raw.githubusercontent.com/liwenjing2012/Cousera_Capstone/main/Crime_Reports.csv"
criminal_data = pd.read_csv(url)
criminal_data.head()

   Incident Number  ...                     Location
0      20201530258  ...  (30.36103465, -97.68530777)
1      20201530887  ...  (30.19036406, -97.82016354)
2      20201530201  ...  (30.28768858, -97.70620522)
3      20205021293  ...  (30.22708779, -97.76645599)
4      20205021334  ...  (30.30063372, -97.74591661)

[5 rows x 27 columns]

In [ ]:
criminal_features = ['Highest Offense Description', 'Category Description','Family Violence','Occurred Date', 'Location Type', 'Zip Code', 'Latitude', 'Longitude']
criminal_feature_data = criminal_data[criminal_features]

criminal_feature_data.groupby(['Family Violence','Highest Offense Description']).count()
#criminal_feature_data[criminal_feature_data['Category Description'].isna()].reset_index(drop=True).groupby(['Family Violence']).count()

                                                Category Description  ...  Longitude
Family Violence Highest Offense Description                           ...
N               ABUSE OF 911                                       0  ...         36
                AGG ASLT STRANGLE/SUFFOCATE                       11  ...         10
                AGG ASSAULT                                     1164  ...       1156
                AGG ASSAULT FAM/DATE VIOLENCE                     10  ...         10
                AGG ASSAULT ON PEACE OFFICER                      25  ...         25
...                                                              ...  ...        ...
Y               THEFT FROM PERSON                                 16  ...         15
                THEFT OF BICYCLE                                   1  ...          1
                UNLAWFUL RESTRAINT                                 0  ...          8
                UNLAWFUL RESTRAINT FAM/DAT VIO                     0  ...         25
                VIOL OF EMERG PROTECTIVE ORDER                     0  ...          1

[386 rows x 6 columns]

In [ ]:
!pip install rtree
!pip install geopandas

Collecting rtree
  Downloading https://files.pythonhosted.org/packages/51/05/5a67111cee91d2165a2bcb855f442186e3d76ddef834596cc84d4875c401/Rtree-0.9.7-cp37-cp37m-manylinux2010_x86_64.whl (994kB)
     |████████████████████████████████| 1.0MB 2.9MB/s
Installing collected packages: rtree
Successfully installed rtree-0.9.7

In [ ]:
from shapely.geometry import Point
import geopandas as gpd

In [ ]:
url = 'https://raw.githubusercontent.com/liwenjing2012/Cousera_Capstone/main/Neighborhoods.geojson'
geoNeigh = gpd.read_file(url)
geoNeigh_data = geoNeigh[['neighname','geometry']]
geoNeigh_data

cirminal_gdf = gpd.GeoDataFrame(
    criminal_feature_data, geometry=gpd.points_from_xy(criminal_feature_data.Longitude, criminal_feature_data.Latitude))

In [ ]:
geoNeigh_data

           neighname                                           geometry
0      ANDERSON MILL  MULTIPOLYGON (((-97.79231 30.45671, -97.79154 ...
1       WINDSOR PARK  MULTIPOLYGON (((-97.67076 30.30854, -97.67204 ...
2             DAWSON  MULTIPOLYGON (((-97.75353 30.23876, -97.75472 ...
3    WEST UNIVERSITY  MULTIPOLYGON (((-97.73815 30.30275, -97.73860 ...
4                MLK  MULTIPOLYGON (((-97.68262 30.28587, -97.68372 ...
..               ...                                                ...
98        SWEETBRIAR  MULTIPOLYGON (((-97.77485 30.20490, -97.77444 ...
99         SPICEWOOD  MULTIPOLYGON (((-97.77410 30.38888, -97.77410 ...
100    WINDSOR HILLS  MULTIPOLYGON (((-97.66564 30.37248, -97.66569 ...
101      ROGERS HILL  MULTIPOLYGON (((-97.62863 30.30690, -97.62942 ...
102    EAST OAK HILL  MULTIPOLYGON (((-97.82943 30.26993, -97.82834 ...

[103 rows x 2 columns]

In [ ]:
cirminal_gdf

         Highest Offense Description  ...                    geometry
0                 ROBBERY BY ASSAULT  ...  POINT (-97.68531 30.36103)
1                 FAMILY DISTURBANCE  ...  POINT (-97.82016 30.19036)
2             BURGLARY NON RESIDENCE  ...  POINT (-97.70621 30.28769)
3                BURGLARY OF VEHICLE  ...  POINT (-97.76646 30.22709)
4                BURGLARY OF VEHICLE  ...  POINT (-97.74592 30.30063)
...                              ...  ...                         ...
99388  BURGLARY OF VEH-NO SUSPECT/FU  ...  POINT (-97.73053 30.22368)
99389          FORGERY BY ALTERATION  ...  POINT (-97.75091 30.24533)
99390       VIOL OF PROTECTIVE ORDER  ...  POINT (-97.71884 30.26902)
99391                  FRAUD - OTHER  ...  POINT (-97.79582 30.44465)
99392            BURGLARY OF VEHICLE  ...  POINT (-97.74879 30.26868)

[99393 rows x 9 columns]

In [ ]:
cirminal_gdf.set_crs(epsg=4326, inplace=True)
joined_gdf = gpd.sjoin(cirminal_gdf, geoNeigh_data, op='within')

In [ ]:
joined_gdf

         Highest Offense Description  ...      neighname
0                 ROBBERY BY ASSAULT  ...  WINDSOR HILLS
76             BURGLARY OF RESIDENCE  ...  WINDSOR HILLS
110    DOC DISCHARGE GUN - PUB PLACE  ...  WINDSOR HILLS
355               FAMILY DISTURBANCE  ...  WINDSOR HILLS
413                    RUNAWAY CHILD  ...  WINDSOR HILLS
...                              ...  ...            ...
81472             FAMILY DISTURBANCE  ...    HAYS WARTHA
85568                 IDENTITY THEFT  ...    HAYS WARTHA
85663                 IDENTITY THEFT  ...    HAYS WARTHA
89878                 IDENTITY THEFT  ...    HAYS WARTHA
91840             FAMILY DISTURBANCE  ...    HAYS WARTHA

[96885 rows x 11 columns]

In [ ]:
joined_gdf.groupby('neighname').count()

                       Highest Offense Description  ...  index_right
neighname                                           ...
ALLANDALE                                      698  ...          698
ANDERSON MILL                                 1402  ...         1402
AVERY RANCH--LAKELINE                         1414  ...         1414
BARTON CREEK MALL                              428  ...          428
BARTON HILLS                                   654  ...          654
...                                            ...  ...          ...
WINDSOR HILLS                                  957  ...          957
WINDSOR PARK                                  2600  ...         2600
WINDSOR ROAD                                   226  ...          226
WOOTEN                                         688  ...          688
ZILKER                                        1070  ...         1070

[102 rows x 10 columns]